Flask==2.1.1
Jinja2==3.1.1
MarkupSafe==2.1.1
Werkzeug==2.1.1
click==8.1.2
colorama==0.4.4
importlib-metadata==4.11.3
itsdangerous==2.1.2
pip==19.0.3
setuptools==40.8.0
typing-extensions==4.1.1
zipp==3.8.0
