<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="50">

    <title>Ping</title>
</head>
<body>

 <div style="width: 100%; overflow: hidden;">
     <div style="border-radius: 55px;margin-top:100px;width: 250px; float: left; background:{{whatsapp}};text-align: center;padding:60px;">
         <h1 style="color:white;">Whatsapp</h1> </div>
     <div style="text-align:center;border-radius: 55px;margin-top:100px;margin-left: 440px; margin-right:700px; background:{{google}};padding:60px;">
         <h1 style="color:white;" >Google</h1> </div>
</div>
</body>
</html>
